@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body,html{
overflow-x: hidden;
margin: 0;
padding: 0;
height: 1180vh;
background: linear-gradient(90deg, #cdffd8, #94b9ff);

  
}
.background1{
    position: absolute;
    width: 100%;
}
.logo{
    height: 250px;
    cursor: pointer;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}
.backgroundVideo{
 position: absolute;
 width: 100%;
 border: 0;
}
.title{
    position: relative;
    text-align: center;
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 800;
    font-size: 40px;
    animation: titleMove 3s forwards;
    background-color: rgb(70, 162, 162);
    width: 700px;
    left: 120px;
    top: 350px;
}

.textAfterTitle{
    position: absolute;
    top: 355px;
    transform: translate(-50%);
    color: black;
    font-family: "Ojuju", sans-serif;
    font-weight: 200;
    font-size: 23px;
    animation: typeWriter 3s forwards
}

.pressToContinue{
    position: relative;
    left: 50%;
    top: 310px;
    cursor: pointer;
    transform: translate(-50%);
    background: transparent;
    color: black;
    width: 300px;
    height: 50px;
    border: 2px solid black;
    border-radius: 30px;
    font-family: "Sora", sans-serif;
    font-weight: 200;
    font-size: 18px;
    animation: typeWriter 3s forwards
}

.orScroll{
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Ojuju", sans-serif;
    font-weight: 200;
    font-size: 23px;
}





.mark1{
    top: 105%;
    left:5%;
    position: absolute;
    text-align: center;
    color: black;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 45px;
    animation: mark1 3s forwards;
}

.mark1_1{

    position: absolute;
    text-align: center;
    top: 125%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Ojuju", sans-serif;
    font-weight: 200;
    font-size: 28px;
    animation: none;
}




.label1{
    position: absolute;
    top: 160%;
    left: 48%;
    margin-top: -12%;
    color: black; 
    text-align: center;
    font-size: 25px;
    font-family: "Ojuju", sans-serif;
    font-weight: 200; 
    transform: translate(-50%);
}
.label2{
    position: absolute;
    top: 160%;
    left: 48%;
    margin-top: -5%;
    color: black; 
    text-align: center;
    font-size: 25px;
    font-family: "Ojuju", sans-serif;
    font-weight: 200;  
    transform: translate(-50%);
}
.label3{
    position: absolute;
    top: 160%;
    left: 48%;
    margin-top: 2%;
    color: black; 
    text-align: center;
    font-size: 25px;
    font-family: "Ojuju", sans-serif;
    font-weight: 200;  
    transform: translate(-50%);
}
.typeText1{
    background: transparent;
    border-bottom: 3px dotted black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: black;
    text-align: center;
}

.submit1{
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    border: 3px solid black;
    border-radius: 40px;
    width: 180px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-family: "Ojuju", sans-serif;
    font-weight: 200;  
    cursor: pointer;

}

.info1{
    position: absolute;
    top: 280%;
    color: black;
    text-align: center;  
    left: 50%;
    transform: translate(-50%); 
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    animation: none;
}
.topic1{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: black;
    position: absolute;
    top: 220%;
    transform: translate(-50%);
    animation: none;
}
.dot1{
    font-family: 'Franklin Gothic Medium';
    font-weight: 600;
    color: rgb(209, 139, 0);
    position: absolute;
    top: 200%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%);
    animation: dot1 3s forwards;
}
.image1{
    position: absolute;
    left: 50%;
    top: 215%;
    transform: translate(-50%);
    animation: none;
}
.dot1_1{
    position: absolute;
    left: 50%;
    top: 270%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot1_2{
    position: absolute;
    left: 50%;
    top: 290%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px; 
    animation: none;
}
.dot1_3{
    position: absolute;
    top: 310%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none; 
}

.dot2{
  
    font-family: 'Franklin Gothic Medium';
    font-weight: 600;
    color: rgb(209, 139, 0);
font-size: 40px;
    transform: translate(-50%);
    animation: dot1 3s forwards;
    position: absolute;
    top: 330%;
    left: 50%;
  
    transform: translate(-50%);
    animation: dot2 3s forwards;
}
.image2{
    position: absolute;
    left: 50%;
    top: 345%;
    transform: translate(-50%);
    height: 300px;

    animation: none;
}
.dot2_1{
    position: absolute;
    top: 390%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    
}
.dot2_2{
    position: absolute;
    top:410%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px; 
    animation: none;
}
.dot2_3{
    position: absolute;
    top: 430%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px; 
    animation: none;
}


.dot3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    font-size: 40px;
    position: absolute;
    top: 450%;
    left: 50%;
  
    transform: translate(-50%);
    animation: none;
}
.image3{
    position: absolute;
    left: 50%;
    top: 465%;
    transform: translate(-50%);
    height: 300px;
    animation: none;
}
.dot3_1{
    position: absolute;
    top: 510%;
    left: 50%;

    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot3_2{
    position: absolute;
    top: 530%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px; 
    animation: none;
}
.dot3_3{
    position: absolute;
    top: 550%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px; 
    animation: none;
}

.dot4{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    font-size: 40px;
    position: absolute;
    top: 570%;
    left: 50%;

    transform: translate(-50%);
    animation: none;
}
.dot4_1{
    position: absolute;
    top: 590%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot4_2{
    position: absolute;
    top: 610%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot4_3{
    position: absolute;
    top: 630%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot5{
    position: absolute;
    top: 650%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    animation: none;
}

.dot5_1{
    position: absolute;
    top: 670%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot5_2{
    position: absolute;
    top: 690%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot5_3{
    position: absolute;
    top: 720%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot6{
    position: absolute;
    top: 740%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    text-align: center;
    font-size: 40px;
    animation: none; 
}


.dot6_1{
    position: absolute;
    top: 780%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot6_2{
    position: absolute;
    top: 800%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot6_3{
    position: absolute;
    top: 820%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}


.dot7{
    position: absolute;
    top: 840%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    text-align: center;
    font-size: 40px;
    animation: none;
}

.dot7_1{
    position: absolute;
    top: 860%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot7_2{
    position: absolute;
    top: 880%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot7_3{
    position: absolute;
    top: 900%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot8{
    position: absolute;
    top: 920%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    text-align: center;
    font-size: 40px;
    animation: none;
}

.dot8_1{
    position: absolute;
    top: 940%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot8_2{
    position: absolute;
    top: 960%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot8_3{
    position: absolute;
    top: 980%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot9{
    position: absolute;
    top: 1000%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    text-align: center;
    font-size: 40px;
    animation: none;
}

.dot9_1{
    position: absolute;
    top: 1020%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot9_2{
    position: absolute;
    top: 1040%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot9_3{
    position: absolute;
    top: 1060%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}

.dot10{
    position: absolute;
    top: 1080%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(209, 139, 0);
    text-align: center;
    font-size: 40px;
    animation: none;
}

.dot10_1{
    position: absolute;
    top: 1100%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot10_2{
    position: absolute;
    top: 1120%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}
.dot10_3{
    position: absolute;
    top: 1140%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
    animation: none;
}

.point2{
    top: 1150%;
    left:5%;
    position: absolute;
    text-align: center;
    color: black;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 45px;
    animation: mark1 3s forwards; 
}
.question1{
    top: 1160%;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    text-align: center;
    color: black;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 35px;
   
}
.answer1_1{
    width: 220px;
    top: 1180%;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    text-align: center;
    color: black;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 35px;
}